body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* FULLSCREEN SLIDER */
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.35);
  z-index: 5;
}


.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
  color: white;
  animation: fadeInUp 1.5s ease;
}

.hero-text h1 {
  font-size: 3rem;
  margin: 0;
}

.hero-text p {
  font-size: 1.3rem;
  margin-top: 10px;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
